* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #222222;
  border-color: grey;
  border-radius: 5px;
}

p {
    margin: 0 0 -3px;
    font-size: 16px;
    font-weight: bold;
}
/* Landing Page CSS */

#siteGreeting {
  font-size: 52px;
  text-align: center;
  line-height: 120px;
  margin-top: 250px;
}

#welcomeMessage {
  font-size: 52px;
  text-align: center;
  line-height: 120px;
  margin-top: 60px;
}

.buttonContainer { text-align: center; }
.getStartedButton { margin-top: 100px; }

.container {
  margin-top: 20px;
  text-align: center;
}

.signup { margin-top: 10px; }

.login{
  height: 300px;
  width: 100%;
  padding: 10px;
  z-index: 2;
  margin-top: 50px;
}

input { text-align:center; }

.container input{
  text-align: center;
  border: 1px solid #c5b5b5;
  width: 300px;
  margin: 5px;
  border-radius: 4px;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  height: 40px;
  padding: 8px;
  &:focus {
    outline: none;
    border: 1.5px solid grey;
  };
}

.btn {
  background-color: rgba(225,225,225,0.55);
  color: #222222;
  cursor: pointer;
  display: block;
  font-size:18px;
  font-weight: bold;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  &:hover { 
    text-decoration: none;
    background-color: #CCCCCC; }

}

.loginHeader {
  margin-top: 45px;
  font-size: 23px;
}

.warning {color: #CC3333;}

.toggler {
  color: #736767;
  line-height: 40px;
  position: relative;
  font-size: 15px;
}

/* Home CSS */

.mainHeader {
  width: 100%;
  font-size: 52px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.11);
}

.navbar {
  text-align: center;
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin-bottom: 20px;
  border-top: 200px solid gray;
  border-bottom: 2px solid gray;
}

.create {
  margin-right: -11%;
  /*background-color: rgba(103, 223, 205, 0.43);*/
}

.view {
  margin-right: 6%;
  /*background-color: rgba(103, 223, 205, 0.43);*/
}

#logoutButton, #deleteButn {
  text-align: center;
  float: right;
  margin: 5px;
}

.filterBar {
  width: 100%;
  text-align: center;
}

.filterButton {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: 10%;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  width: 150px;
  transition: all 0.5s;
  margin-top: 18px;
}

.col-md-6 { text-align: center; }

/** View Page **/

.loginName {
  font-weight: bold;
  margin-top: -24px;
}

.logoutButton {
  background-color: #c08585;
}

.capsule {
  width: 225px;
  height:  225px;
  border: 1px solid rgba(158, 158, 158, 0.75);
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.capsuleBar {
  height: 50px;
  width: 100%;
  text-align: right;
}

/*.inProgress {
  position: absolute;
  bottom: 20px;
	width: 250px;
	height:  250px;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
>>>>>>> 8754339770cb1b0244c0c299b17a76954ed8417e

}

.viewCapName {
  text-align: center;
  float: center;
}

.capsuleBar {
	height: 10%;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;

}
}*/

i {
  background-color: #F4F4F4;
}

.capsuleBar button {
  background-color: #F4F4F4; 
}

.viewCapName, .ticker {
  text-align: center;
}

.createCapsuleName {
  margin-bottom: 20px;
}

.momentoBar {
	height: 10%;
	width: 100%;
	text-align: right; 
  margin-bottom: 30px;
}

.iconOptions {
	background-color: #F4F4F4;
	border-radius: 3px;
  text-align: right;
}

#capsuleNameMargin {
	text-align: right;
}

.break {
  word-break: break-all;
}


#username {
  float: right;
  font-size: 20px;
}

#viewDetails {
  padding-left: 15px;
  padding-right: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: scroll;
}

.inProgressWindow {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 500px;
	border: 1px solid gray;
	border-radius: 5px;
	overflow: scroll;
}

#viewModalDialog {
  float: center;
}

#viewModalContent {
  width: 700px;
  height: 500px;
}

.inProgress {
  position: absolute;
  bottom: 11px;
  text-align: center;
  color: rgb(212, 176, 71);
}

.innerItem {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	height: 115px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid gray;
	border-radius: 4px;
	text-align: center;
}

#viewModalBody {
  width: 100%;
  height: 85%;
  overflow: scroll;
}

#viewAndEdit {
  height: 10%;
  width: 10px;
  float: right;
  text-align: right;
}

.inProgressWindow {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
  border: 1px solid gray;
  overflow: scroll;

}

.innerItem {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  text-align: center;
}

.bottomButtons {
  width: 100%;
  text-align: center;
}

#momentoDetails {
  text-align: center;
  float: center;
}

#capHeader {
	width: absolute;
	text-align: center;
	float: center;
}

#viewModalContent {
	width: 700px;
	height: 500px;
	text-align: center;
	float: center;
}

#viewModalBody {
	width: 100%;
	height: 85%;
	overflow: scroll;
	text-align: center;
	float: center;
}


.momentoInput {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#nameCapsulePl0x {
  text-align: center;
}

.modalBodyBorder:hover {
  /*background-color: #F3F3F3;*/
  cursor: pointer;
}

.modalBodyBorder {
  border: 2px solid gray;
  border-radius: 7px;
  margin: 10px;
}

#capsuleName {
  text-align: center;
}

#inputBoxEdit {
  text-align: center;
   width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#inputBox, #capsuleInput, #momentoInput, #momentoModalInput {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#addToCap, #setCapName {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
