/** {
  background-color: #000000;
  color: #DDDDDD;
}*/

.navbar {
	width: 100%;
	text-align: center;
}

.mainHeader {
	width: 100%;
	text-align: center;
}

.filterBar {
	width: 100%;
	text-align: center;
}

.filterButton {
	display: inline-block;
	padding: 10px;
}