/** {
  background-color: #000000;
  color: #DDDDDD;
}*/

.navbar {
	width: 100%;
	text-align: center;
}

.mainHeader {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid gray;
}

#username {
	float: right;
	font-size: 14px;
}

.filterBar {
	width: 100%;
	text-align: center;
}

.filterButton {
	display: inline-block;
	padding: 10px;
}

.capsule {
	width: 200px;
	height:  200px;
	border: 1px solid;
	display: inline-block;
	padding: 10px;
}

.capsuleBar {
	height: 10%;
	width: 55%;
	float: right;
	text-align: right;
}

.inProgressWindow {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 500px;
	border: 1px solid gray;
	overflow: scroll;

}

.innerItem {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid gray;
	text-align: center;
}

.bottomButtons {
	width: 100%;
	text-align: center;
}

#saveForLater {

}

#bury {

}

#inputBox {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#addToCap {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}



