<div>
  <div ng-hide="$ctrl.named">
    <h3 id="capsuleName">Name Your Capsule</h3>
    <input id="capsuleInput" type="text" ng-model="capsuleName" placeholder="Capsule Name"/>
    <button id="setCapName" type="button" ng-click="$ctrl.setCapsuleName(capsuleName)"">Set Capsule Name</button>
  </div>

  <div>
    <input id="momentoInput" type="text" ng-model="momentoName" placeholder="Momento Name"/>
    <textarea id="inputBox" rows="4" cols="70" ng-model="input"> </textarea>
  </div>

  <button id="addToCap" type="button" ng-click="$ctrl.appendAndSave(input, momentoName)"">Add to Capsule</button>
  <div class="inProgressWindow">

    <div ng-show="$ctrl.named">
      <h2>{{$ctrl.capsuleName}}<button ng-click="modalPopupEditCapName"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></button></h2>
    </div>
    <!-- Regular content view for in progress capsule-->
    <div ng-hide="$ctrl.editingViewCapsule" class="innerItem" ng-repeat="input in $ctrl.currentCap track by $index">
      <div class="capsuleBar">
        <button ng-click="$ctrl.viewMomento($index)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></button>
        <button ng-click="$ctrl.editMomento($index)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></button>
        <button ng-click="$ctrl.deleteMomento($index)"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
      </div>
      <h4> {{input.name}} </h4>
      <p> {{input.input}} </p>
    </div>

    <!-- Show capsules contents if in editing mode from View.js-->
    <div ng-show="$ctrl.editingViewCapsule" class="innerItem" ng-repeat="input in $ctrl.capsuleToEdit.contents">
      <div class="capsuleBar">
          <button ng-click="$ctrl.viewMomento($index)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></button>
          <button ng-click="$ctrl.editMomento($index)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></button>
          <button ng-click="$ctrl.deleteMomento($index)"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
      </div>
      <h4> {{input.name}} </h4>
      <p> {{input.input}} </p>
    </div>

  </div>
  <div class="bottomButtons">
    <button id="saveForLater" type="button" ng-click="$ctrl.saveForLater()"">Save for Later</button>
    <button id="bury" type="button" data-toggle="modal" data-target="#createModal">Bury</button>
  </div>

  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Before you bury this...</h4>
        </div>

        <div class="modal-body">

        <datepicker date-format="yyyy-MM-dd" selector="form-control">
            <div class="input-group">
                <input class="form-control" placeholder="Choose a date"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
        
          <p>Enter Bury Date.</p>
          <input type="text" ng-model="years" placeholder="Years"/>
          <input type="text" ng-model="months" placeholder="Months"/>
          <input type="text" ng-model="days" placeholder="Days"/>
          <p>Intended Recipient.</p>
          <input type="text" ng-model="recipient"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.bury(years, months, days, recipient)">Bury</button>
        </div>

      </div>

    </div>
  </div>

</div>
