<div>
    <h1 class="mainHeader">Life-Time Capsule</h1>
</div>

<nav class="navbar">
  <button class="btn view" ng-click="$ctrl.toggleToView()">View Capsules</button>
  <button class="btn create" ng-click="$ctrl.toggleToCreate()">Create A Capsule</button>
  <span id="logoutButton" >
    <h4 class="loginName">Welcome, {{$ctrl.email}}</h4>
    <button class="logoutButton btn" g-click="$ctrl.logOut()"> Logout </button>
  </span>

  <span ng-show=$ctrl.view>
    <div class="filterBar">
      <div class="btn filterButton" id="all" ng-click="$ctrl.handleFilter($event)">
        All
      </div>
      <div class="btn filterButton" id="buried" ng-click="$ctrl.handleFilter($event)">
        Buried
      </div>

      <div class="btn filterButton" id="inProgress" ng-click="$ctrl.handleFilter($event)">
        In Progress
      </div>
    </div>
  </span>
</nav>

<span ng-show="$ctrl.view">

  <view-page ng-hide="$ctrl.first" class="col-md-6" ng-repeat="cap in $ctrl.capsData track by $index" view-capsule="$ctrl.viewCapsule" cap="cap" index="$index" edit-capsule="$ctrl.editCapsule" delete-cap="$ctrl.deleteCap"> </view-page>

  <view-page ng-show="$ctrl.first" class="col-md-6" ng-repeat="cap in $ctrl.initialData track by $index" view-capsule="$ctrl.viewCapsule" cap="cap" index="$index" edit-capsule="$ctrl.editCapsule" delete-cap="$ctrl.deleteCap"> </view-page>

</span>

<span ng-hide="$ctrl.view">

  <create-page view-toggle="$ctrl.toggleToView" named="$ctrl.named" capsule-id="$ctrl.capsuleId" capsule-to-edit="$ctrl.capsuleToEdit" editing-view-capsule="$ctrl.editingViewCapsule" view="$ctrl.view" edited-capsule-name="$ctrl.editedCapsuleName" current-cap="$ctrl.currentCap" capsule-name="$ctrl.capsuleName" delete-cap="$ctrl.deleteCap"> </create-page>

</span>
