<div>
    <h1 class="mainHeader">Life-Time Capsule</h1>
</div>

<div class="navbar">
  <button ng-click="$ctrl.toggleToView()">View</button>
  <button ng-click="$ctrl.view = false; $ctrl.toggleToCreate()">Create</button>
</div>

<span ng-show=$ctrl.view>
  <div class="filterBar">
    <div class="filterButton" id="all" ng-click="$ctrl.handleFilter($event)">
      All
    </div>
    <div class="filterButton" id="sent" ng-click="$ctrl.handleFilter($event)">
      Sent
    </div>
    <div class="filterButton" id="received" ng-click="$ctrl.handleFilter($event)">
      Received
    </div>
    <div class="filterButton" id="inprogress" ng-click="$ctrl.handleFilter($event)">
      In Progress
    </div>
  </div>
</span>

<span ng-show=$ctrl.view>
  <view-page ng-repeat="cap in $ctrl.capsData track by $index" cap="cap"> </view-page>
</span>

<span ng-hide=$ctrl.view>
  <create-page> </create-page>
</span>