<div>
  <h1 ng-hide="$ctrl.butnClicked" class="toggledWelcome">Welcome to Life-Time Capsule</h1>
  <h1 ng-show="$ctrl.butnClicked" class="welcome">Welcome to Life-Time Capsule</h1>
  <span ng-show="$ctrl.butnClicked">
    <div class="buttonContainer">
      <button class="getStartedButton btn" type="button" ng-click="$ctrl.getStarted()">Get Started</button>
    </div>
  </span>
  <div class="container"
    <span ng-hide="$ctrl.butnClicked">
      <a href="#" class="toggler" ng-hide="$ctrl.butnClicked" type="button" ng-click="$ctrl.toggle()">{{$ctrl.sisu}}</a>
      <span ng-show="$ctrl.signup">
        <div>
          <form class="login" ng-submit="$ctrl.handleSignUp(username, password, email)">
            <div class="po">
              <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || 'white', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || 'grey'}" type="text" placeholder="Username" ng-model="username"> </input>
            </div>
            <div class="po">
              <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || 'white', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || 'grey'}" type="password" placeholder="Password" ng-model="password"> </input>
            </div>
            <div class="po">
              <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || 'white', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || 'grey'}" type="text" placeholder="Email" ng-model="email"> </input>
            </div>
            <button class="btn signup" type="submit">Sign Up</button>
          </form>
        </div>
    </span>
  </div>
      <span ng-hide="$ctrl.signup">
        <div class="login container">
          <form ng-submit="$ctrl.handleSignIn(email, password)">
            <div class="po">
              <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || 'white', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || 'grey'}" type="text" placeholder="Email" ng-model="email"> </input>
            </div>
            <div class="po">
              <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || 'white', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || 'grey'}" type="password" placeholder="Password"> </input>
            </div>
            <button class="btn signup" type="submit">Sign In</button>
          </form>
        </div>
    </span>
  </span>
</div>
